.gameContainer{
    position: relative;
}

.gameContainer canvas{
    position: absolute;
    left: 0;
    top: 0;
    font-family: "Retro Game Font";
    src: url(./assets/Retro\ Gaming.ttf);
    font-size: 30px;
}